# For staging server deployment only (set these in the CI/CD runner)
STAGING_FIREBASE_SERVICE_ACCOUNT=STAGING_FIREBASE_SERVICE_ACCOUNT
STAGING_FIREBASE_PROJECT_ID=STAGING_FIREBASE_PROJECT_ID
PROD_AWS_S3_BUCKET_API_DOC=PROD_AWS_S3_BUCKET_API_DOC