@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbar-width: .4375rem;

    --black-900: 24 24 27;
    --black-800: 39 39 42;
    --black-700: 63 63 70;
    --black-500: 113 113 122;
    --black-text_only-disabled: 82 82 91;

    --base-white: 255 255 255;

    --dim-500: 113 113 122;

    --outline-400: 161 161 170;
    --outline-300: 212 212 216;
    --outline-200: 228 228 231;

    --washed-100: 244 244 245;

    --background-50: 250 250 250;

    --brand-700: 29 78 216;
    --brand-600: 37 99 235;
    --brand-300: 150 183 255;
    --brand-200: 194 213 255;
    --brand-50: 239 246 255;
    --brand-text_only: 29 78 216;

    --theme-700: 188 55 6;
    --theme-600: 221 66 10;
    --theme-300: 254 175 115;
    --theme-200: 255 208 169;
    --theme-50: 255 246 237;
    --theme-text: 221 66 10;
    --theme-text_hero: 106 61 45;

    --danger-700: 185 28 28;
    --danger-600: 220 38 38;
    --danger-300: 252 165 165;
    --danger-200: 254 202 202;
    --danger-100: 254 226 226;
    --danger-50: 254 242 242;
    --danger-text_only: 220 38 38;
    --danger-text_only-disabled: 220 38 38;

    --warning-700: 161 98 7;
    --warning-600: 202 138 4;
    --warning-300: 225 203 88;
    --warning-200: 254 240 138;
    --warning-100: 254 249 195;
    --warning-50: 254 252 232;
    --warning-text_only: 161 98 7;

    --success-700: 21 128 61;
    --success-600: 22 163 74;
    --success-300: 131 218 163;
    --success-200: 187 247 208;
    --success-100: 220 252 231;
    --success-50: 240 253 244;

    --gray-text_only-disabled: 24 24 27;
    --gray-washed-100: 244 244 245;
    --gray-focus_washed-100: 244 244 245;
    --gray-outline-400: 161 161 170;
    --gray-outline-300: 212 212 216;
    --gray-outline-200: 228 228 231;
    --gray-dim-500: 113 113 122;

    --white-text_only-disabled: 255 255 255;
    --white-focus_white-200: 255 255 255;
    --white-focus_white-100: 255 255 255;
    --white-background-0: 255 255 255;
    --white-force_white: 255 255 255;
  }

  [data-theme="dark"] {
    --black-900: 255 255 255;
    --black-800: 244 244 245;
    --black-700: 212 212 216;
    --black-500: 161 161 170;
    --black-text_only-disabled: 161 161 170;

    --base-white: 24 24 27;

    --dim-500: 161 161 170;

    --outline-400: 82 82 91;
    --outline-300: 63 63 70;
    --outline-200: 39 39 42;

    --washed-100: 29 29 33;

    --background-50: 22 22 25;

    --brand-700: 88 139 251;
    --brand-600: 37 99 235;
    --brand-300: 30 64 175;
    --brand-200: 30 58 138;
    --brand-50: 15 24 54;
    --brand-text_only: 88 139 251;

    --theme-700: 211 56 0;
    --theme-600: 221 66 10;
    --theme-300: 195 51 11;
    --theme-200: 155 41 17;
    --theme-50: 45 27 24;
    --theme-text: 255 133 89;
    --theme-text_hero: 255 255 255;

    --danger-700: 185 28 28;
    --danger-600: 220 38 38;
    --danger-300: 153 27 27;
    --danger-200: 127 29 29;
    --danger-100: 69 10 10;
    --danger-50: 43 7 7;
    --danger-text_only: 255 89 89;
    --danger-text_only-disabled: 255 89 89;

    --warning-700: 161 98 7;
    --warning-600: 202 138 4;
    --warning-300: 133 77 14;
    --warning-200: 113 63 18;
    --warning-100: 66 32 6;
    --warning-50: 48 23 4;
    --warning-text_only: 202 138 4;

    --success-700: 21 128 61;
    --success-600: 22 163 74;
    --success-300: 22 101 52;
    --success-200: 20 83 45;
    --success-100: 5 46 22;
    --success-50: 5 46 22;

    --gray-text_only-disabled: 161 161 170;
    --gray-washed-100: 29 29 33;
    --gray-focus_washed-100: 39 39 42;
    --gray-outline-400: 82 82 91;
    --gray-outline-300: 63 63 70;
    --gray-outline-200: 39 39 42;
    --gray-dim-500: 161 161 170;

    --white-text-disabled: 63 63 70;
    --white-focus_white-200: 39 39 42;
    --white-focus_white-100: 29 29 33;
    --white-background-0: 22 22 25;
    --white-force_white: 255 255 255;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    @apply bg-background text-black-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  @supports (scrollbar-color: auto) {
    .dropdown-scrollbar {
      scrollbar-color: rgb(var(--gray-outline-400)) transparent;
      scrollbar-width: auto;
    }
  }

  @supports selector(::-webkit-scrollbar) {
    .dropdown-scrollbar::-webkit-scrollbar-thumb {
      background: rgb(var(--gray-outline-400));
      width: var(--scrollbar-width);
    }
  }
}

@media print {
  header,
  footer,
  .no-print {
    display: none;
  }
  
  p {
    page-break-inside: avoid;
  }

  @page { 
    margin: 1cm 1cm 1cm 0.125cm;
    padding: 0;
    /* padding: 10mm 10mm 10mm 2.5mm; */
  }
}
