@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black-900: 24 24 27;
    --black-800: 39 39 42;
    --black-700: 63 63 70;

    --base-white: 255 255 255;

    --dim-500: 113 113 122;

    --outline-400: 161 161 170;
    --outline-300: 212 212 216;
    --outline-200: 228 228 231;

    --washed-100: 244 244 245;

    --background-50: 250 250 250;

    --brand-600: 37 99 235;
    --brand-700: 29 78 216;
    --brand-300: 150 183 255;
    --brand-200: 194 213 255;
    --brand-50: 239 246 255;
    --brand-text_only: 29 78 216;

    --siaran-600: 221 66 10;
    --siaran-700: 188 55 6;
    --siaran-300: 254 175 115;
    --siaran-200: 255 208 169;
    --siaran-50: 255 246 237;
    --siaran-text: 221 66 10;
    --siaran-text_hero: 106 61 45;

    --danger-700: 185 28 28;
    --danger-600: 220 38 38;
    --danger-300: 252 165 165;
    --danger-200: 254 202 202;
    --danger-100: 254 226 226;
    --danger-50: 254 242 242;

    --warning-700: 161 98 7;
    --warning-600: 202 138 4;
    --warning-300: 225 203 88;
    --warning-200: 254 240 138;
    --warning-100: 254 249 195;
    --warning-50: 254 252 232;
    --warning-text-700: 161 98 7;

    --success-300: 131 218 163;
    --success-200: 187 247 208;
    --success-50: 240 253 244;

    --gray-text_only-disabled: 24 24 27;
    --gray-washed-100: 244 244 245;
    --gray-focus_washed-100: 244 244 245;
    --gray-outline-300: 212 212 216;
    --gray-outline-200: 228 228 231;
    --gray-dim-500: 113 113 122;

    --white-text_only-disabled: 255 255 255;
    --white-focus_white-200: 255 255 255;
    --white-focus_white-100: 255 255 255;
    --white-background-0: 255 255 255;
    --white-force_white: 255 255 255;
  }

  [data-theme="dark"] {
    --black-900: 255 255 255;
    --black-800: 244 244 245;
    --black-700: 212 212 216;
    --base-white: 24 24 27;

    --dim-500: 161 161 170;

    --outline-400: 82 82 91;
    --outline-300: 63 63 70;
    --outline-200: 39 39 42;

    --washed-100: 29 29 33;

    --background-50: 22 22 25;

    --brand-600: 37 99 235;
    --brand-700: 88 139 251;
    --brand-300: 30 64 175;
    --brand-200: 30 58 138;
    --brand-50: 15 24 54;
    --brand-text_only: 88 139 251;

    --siaran-600: 221 66 10;
    --siaran-700: 211 56 0;
    --siaran-300: 195 51 11;
    --siaran-200: 155 41 17;
    --siaran-50: 45 27 24;
    --siaran-text: 255 133 89;
    --siaran-text_hero: 255 255 255;

    --danger-700: 185 28 28;
    --danger-600: 220 38 38;
    --danger-300: 153 27 27;
    --danger-200: 127 29 29;
    --danger-100: 69 10 10;
    --danger-50: 43 7 7;
    --danger-text_only-disabled: 88 139 251;

    --warning-700: 161 98 7;
    --warning-600: 202 138 4;
    --warning-300: 133 77 14;
    --warning-200: 113 63 18;
    --warning-100: 66 32 6;
    --warning-50: 48 23 4;
    --warning-text-700: 202 138 4;

    --success-300: 22 101 52;
    --success-200: 20 83 45;
    --success-50: 5 46 22;

    --gray-text_only-disabled: 161 161 170;
    --gray-washed-100: 29 29 33;
    --gray-focus_washed-100: 39 39 42;
    --gray-outline-300: 63 63 70;
    --gray-outline-200: 39 39 42;
    --gray-dim-500: 161 161 170;

    --white-text-disabled: 63 63 70;
    --white-focus_white-200: 39 39 42;
    --white-focus_white-100: 29 29 33;
    --white-background-0: 22 22 25;
    --white-force_white: 255 255 255;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :focus:not(:focus-visible) {
    @apply outline-none;
  }

  body {
    @apply bg-background text-black-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}


.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  max-height: 45px;
  height: 45px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  max-height: 45px;
  height: 45px;
}